<%= form_for (@appointment) do |f| %>

  <div class="form-group">
    <%= f.label :Appointment_With %><br/>

    <% if current_user.patient? %>
      <%= f.collection_select(:doctor_id, @all_doctors, :id, :first_name) %>
    <% else %>
      <%= f.collection_select(:patient_id, @all_patients, :id, :first_name) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Date %><br />
    <%= f.datetime_select :date, start_year: 2000 %>
  </div>

  <div class="field">
    <%= f.label :Status %><br />
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.fields_for :notes do |field| %>
        <%= field.label "Cause" %><br>
        <%= field.text_area :description %>
    <% end %>
  </div>

  <div class="image-field">
    <% if current_user.patient? %>
      <div class="field">
        <%= f.label :Upload_Image %>
        <%= f.file_field :cover %>
      </div>
    <% end %>
  </div>


  <div class = "button">
    <%= f.submit "Add Appointment" %>
  </div>

<% end %>
