<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<h2>Appointments List</h2>


    <div class="image-container">
      <%= image_tag(current_user.cover.url) if current_user.cover? %>
    </div>


    <div class="field">
      <h4>Logged In As:</h4>
      <%= current_user.first_name %>
    </div>

    <div class="field">
      <h4>e-mail</h4>
      <%= current_user.email %>
    </div>



    <div class="div-table">

        <div class="tr">
          <div class="tc">Date</div>
          <div class="tc">Name</div>
          <div class="tc">Status</div>
          <div class="tc">Show</div>
          <div class="tc">Edit</div>
          <div class="tc">Delete</div>
        </div>
        <% @my_apps.each do |apps| %>
        <div class="tr">
            <div class="tc"> <%= apps.date.to_formatted_s(:long) %></div>
            <% if current_user.doctor? %>
              <div class="tc"> <%= apps.patient.first_name  %>
                               <%= apps.patient.last_name %> ( Patient )
              </div>
            <% else %>
              <div class="tc"> <%= apps.doctor.first_name  %>
                               <%= apps.doctor.last_name %> ( Doctor )
              </div>
            <% end %>
            <div class="tc"> <%= apps.status %></div>
            <div class="tc"> <%= link_to "Show", appointment_path(apps) %></div>
            <div class="tc"><%= link_to "Edit", edit_appointment_path(apps) %></div>
            <div class="tc">
              <%= link_to appointment_path(apps) , method: :delete, data: {confirm: "Hey, Are you sure?"} do %>
                Delete
              <% end %>
            </div>
        </div>
        <% end %>

      </div>
