<!DOCTYPE html>

  <head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:800" rel="stylesheet">
  </head>

  <body>

    <h1 class="text-left">
      <u>Appointment List</u>
    </h1>


    <div class="field">
      <h4>Hi, <%= current_user.first_name %> <%= current_user.last_name %></h4>
    </div>

    <div class="field">
      <h4>e-mail: <%= current_user.email %></h4>
    </div>

    <div class="image-container">
      <%= image_tag(current_user.cover.url) if current_user.cover? %>
    </div><br><br>


    <div class="div-table">
        <div class="tr">
          <div class="tc"><u><b>Date</b></u></div>
          <div class="tc"><u><b>Name</b></u></div>
          <div class="tc"><u><b>Status</b></u></div>
          <div class="tc"><u><b>Show</b></u></div>
          <div class="tc"><u><b>Edit</b></u></div>
          <div class="tc"><u><b>Delete</b></u></div>
        </div>
        <% @my_apps.each do |apps| %>
        <div class="tr">
            <div class="tc"> <%= apps.date.to_formatted_s(:long) %></div>
            <% if current_user.doctor? %>
              <div class="tc"> <%= apps.patient.first_name  %>
                               <%= apps.patient.last_name %> ( Patient )
              </div>
            <% else %>
              <div class="tc"> <%= apps.doctor.first_name  %>
                               <%= apps.doctor.last_name %> ( Doctor )
              </div>
            <% end %>
            <div class="tc"> <%= apps.status %></div>
            <div class="tc"> <%= link_to "Show", appointment_path(apps) %></div>
            <div class="tc"><%= link_to "Edit", edit_appointment_path(apps) %></div>
            <div class="tc">
              <%= link_to appointment_path(apps) , method: :delete, data: {confirm: "Hey, Are you sure?"} do %>
                Delete
              <% end %>
            </div>
        </div>
        <% end %>
      </div>

      <div class="paginate-field">
        <%= will_paginate @my_apps  %>
      </div>

  </body>
</html>
