<h1>New Appointment Form</h1>

<% if current_user && (current_user.role == 0) %>
  <%= form_for(@appointment) do |f| %>

    <div class="form-group">
      <%= f.label :AppointmentWith %><br />

      <!-- <select>
        <% User.all.where('role = ?', 1).each do |doctor| %>
          <option value="doc"><%= doctor.first_name %></option>
        <% end %>
      </select> -->

      <%= f.collection_select(:doctor_id, User.all.where('role = ?', 1), :id, :first_name, :prompt => true) %>
    </div>

    <div class="field">
      <%= f.label :Date %><br />
      <%= f.datetime_select :date, start_year: 2000 %>
    </div>

    <div class="field">
      <%= f.label :Status %><br />
      <%= f.text_field :status %>
    </div>

    <!-- <div class="field">
      <%= f.label :Note %><br />
      <%= f.file_field :description %>
    </div> -->

    <%= link_to "Create Note", new_appointment_note_path(:appointment_id) %>

    <div class = "button">
      <%= f.submit "Add Appointment" %>
    </div>

  <% end %>
<% end %>
