
<div class="button">
    <%= link_to "Back To My Home", appointments_path %>
</div><br>

<div class="field">
  <div><h3>Appointment Date: </h3>
    <%= @appointment.date.to_formatted_s(:long) %>
  </div>
</div>

<div class="field">
  <div><h3>Appointment Status: </h3>
    <%= @appointment.status %>
  </div>
</div>

<% if current_user.patient? %>
  <div class="image-field">
      <div><strong><h4>Appointment Image:</h4></strong></div>
      <%= image_tag (@appointment.cover.url) if @appointment.cover? %>
  </div>
<% end %>

<div class="field">
  <h3><u>All Notes:</u></h3>
  <% @my_notes.each do |n| %>
    <div class="field">
      <div><h5>Description: </h5>
        <%= n.description %>
      </div>
    </div>
  <% end %>
</div>
<br>
